<%- include('../partials/admin/header') %>
<link rel="stylesheet" href="/admin-style/products.css">
<main class="main-content" id="mainContent">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products</h2>
        </div>
    </div>

    <!-- Search Box -->
    <header class="card-header text-center mb-20">
        <div class="search-container mb-4">
    <form action="/admin/products/" method="get" class="search-form">
        <div class="search-box">
            <input type="text" class="search-input" placeholder="Search products..." name="search">
            <button class="search-button" type="submit">Search</button>
        </div>
    </form>
</div>

    </header>

    <!-- Products Table -->
    <div class="right mt-5">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Product image</th>
                            <th scope="col">Product name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Sale Price</th>
                            <th scope="col">Offer Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Action</th>
                            <th scope="col">Edit</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = data.length - 1; i >= 0; i--) { %>
                        <tr>
                            <td>
                                <img src="<%= data[i].productImage[0] %>" alt="<%= data[i].productName %>" style="width: 50px; height: 50px; object-fit: cover;">
                            </td>
                            <td><%= data[i].productName %></td>
                            <td><%= data[i].category.name %></td>
                            <td><%= data[i].regularPrice %></td>
                            <td><%= data[i].salePrice %></td>
                            <td><%= data[i].quantity %></td>
                            <td>
                                <% if (data[i].isBlocked === false) { %>
                                    <button class="btn btn-danger" style="width: 100px;">
                                        <a href="/admin/UnblockProduct?id=<%= data[i]._id %>" class="text-white" style="text-decoration: none;">Block</a>
                                    </button>
                                <% } else { %>
                                    <button class="btn btn-success" style="width: 100px;">
                                        <a href="/admin/blockProduct?id=<%= data[i]._id %>" class="text-white" style="text-decoration: none;">Unblock</a>
                                    </button>
                                <% } %>
                            </td>
                            <td>
                                <button class="btn btn-info" style="width: 100px;">
                                    <a href="/admin/editProduct?id=<%= data[i]._id %>" class="text-white" style="text-decoration: none;">Edit</a>
                                </button>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="pagination-container">
        <% if (currentPage > 1) { %>
            <a href="?page=<%= currentPage - 1 %>" class="pagination-link">&laquo; Previous</a>
        <% } %>
        
        <% for (let i = 1; i <= totalPages; i++) { %>
            <% if (i === currentPage) { %>
                <span class="current-page"><%= i %></span>
            <% } else { %>
                <a href="?page=<%= i %>" class="pagination-link"><%= i %></a>
            <% } %>
        <% } %>

        <% if (currentPage < totalPages) { %>
            <a href="?page=<%= currentPage + 1 %>" class="pagination-link">Next &raquo;</a>
        <% } %>
    </div>
</main>

<%- include('../partials/admin/footer') %>
